<div class="container">
  <%= form_with model: @user, local: true do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control', placeholder: 'username'%>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
</div>
