<%= form_for @comment do |form| %>
  <div class="form-group">
    <%= form.text_area :content, class: '', class: 'form-control', placeholder: 'Add comment' %>
    <%= form.text_field :opinion_id, value: @op.id, hidden: true %>
    <%= form.submit 'Comment', class: 'btn btn-primary mt-2' %>
  </div>
<% end %>
