<div class="container">
  <% @opinions.each do |op|%>
    <div class="bg-white">
      <h6 class="p-1 mt-1"><%= op.user.fullname %></h6>
      <p class="p-1 mt-1"><%= op.Text %></p>
    </div>
  <%end%>
</div>
