<div class="container-fluid page-content">
  <div class="row">
    <div class="col-9">
      <div class="cover_image mt-1 row"><%= image_tag @user.cover_image if @user.cover_image.attached? %></div>
      <nav class='opinion_nav mb-3 mt-3'>
        <h6>Recent Opinions</h6>
      </nav>
      <%= render 'user_posts'%>
    </div>
    <div class="col-3">
        <%= render 'user_stats'%>
        <%= render 'follow_list'%>
    </div>
  </div>
</div>
