<div class="container-fluid page-content">
  <div class="row">
    cover picture here
  </div>
  <div class="row">
    <div class="col-10">
      <nav class='opinion_nav'>
        <%= link_to 'opinions', opinions_path %>
      </nav>
      <%= render 'user_posts'%>
    </div>
    <div class="col-2">
      profile info
    </div>
  </div>
</div>