<header class="container-fluid">
  <nav class="d-flex justify-content-between">
    <p>logo</p>
    <div>
      <%= link_to "Login", login_path  %>
      <%= link_to "Sign Up", signup_path  %>
    </div>
  </nav>
</header>