
  <% if logged_in? %>
    <%= render 'layouts/side'%>
    <header class='d-flex justify-content-between p-2 main'>
      <h4 class="text-white">THE GUARD</h4>
      <%= link_to "Logout", logout_path,  class: "text-white", method: :delete %>
    </header>
  <% else %>
    <header class="container-fluid p-2">
      <nav class="d-flex justify-content-between">
        <h4 class="text-white">THE GUARD</h4>
        <div>
          <%= link_to "Login", root_path, class: "text-white"  %>
          <%= link_to "SignUp", new_user_path, class: "text-white" %>
        </div>
      </nav>
    </header>
  <%end%>
