<!-- Side navigation -->
<div class="sidenav">
  <%# <%= render 'opinions/stats' %> 
  <%= link_to 'Home', opinions_path%>
  <a href="#">Connect</a>
  <a href="#">Discover</a>
  <a href="#">Profile</a>
</div>